
<%# Includes the header files %> 
<%- include('template/head'); %> 

<%# Includes navigation %> 
<%- include('template/navbar'); %> 


<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">Upcoming Events</a></li>
          <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
        </ul>
        <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<!-- courses -->
<section class="section">
  <div class="container">
    <div class="row">
      <!-- event -->
      <div class="col-lg-4 col-sm-6 mb-5">
        <p><strong class="text-uppercase">No event for now.....</strong></p>
      </div>
      <!-- event -->
      <div class="col-lg-4 col-sm-6 mb-5">
        
      </div>
      <!-- event -->
      <div class="col-lg-4 col-sm-6 mb-5">
       
      </div>
     
    </div>
  </div>
</section>
<!-- /courses -->

  
<%# Includes footer %> 
<%- include('template/footer'); %> 

<%# Includes all the js static file %> 
<%- include('template/script'); %> 