
<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL: </strong> +44 300 303 0266</a>
          <a class="text-color mr-3" href="callto:csc@gmail.com"><strong>EMAIL: </strong> csc@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
  <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand text-uppercase font-weight-bold" href="/"><span class="text-warning">School</span> Info</a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" href="/student-dashboard">Dashboard</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#appointmentModal">Appointment</a>
            </li>
            <li class="nav-item @@events">
              <a class="nav-link" href="/setting">Settings</a>
            </li>
            <li class="nav-item @@contact">
              <a class="nav-link" href="/logout">logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- /header -->
